.icon{ background:url("icon.png") top left no-repeat; }
.icon-hands{ width:514px; height:286px; background-position:-1px -1px; }
.icon-tablet{ width:412px; height:283px; background-position:-1px -288px; }
.icon-facebook{ width:39px; height:40px; background-position:-414px -288px; }
.icon-twitter{ width:39px; height:40px; background-position:-454px -288px; }
.icon-skype{ width:20px; height:20px; background-position:-494px -288px; }

